# Root-level ignores
.DS_Store
.env
*.log
*.pyc
__pycache__/
node_modules/
venv/
dist/
build/
coverage/
*.sqlite3
*.db
*.lock
.vscode/
.idea/
*.swp

# client/ (React/Vite)
client/node_modules/
client/dist/
client/.env
client/.DS_Store
client/.vite/
client/.parcel-cache/
client/yarn.lock

# server/ (Flask)
server/__pycache__/
server/.venv/
server/.env
server/*.pyc
server/instance/
server/.DS_Store

personal-portfolio.pem